</br>
<h3 style="margin: 20px;">Detail Order</h3>
<h5 style="margin: 20px;">Status  : <%= @order.check(@order.status) %></h5>
<h5 style="margin: 20px;">Tanggal : <%= @order.created_at.to_date %></h5>
<table style="width: 100%;
  border: 1px solid black;margin: 20px">
  <tr>
    <th style="padding: 10px">No</th>
    <th></th>
    <th>QTY</th>
    <th>Total</th>
  </tr>
  <% @order_item.each do |t| %>
  <tr>
    <td style="padding: 10px">1</td>
    <td>
    <%= t.product.image ? image_tag(t.product.image.url, alt: 'Image', class: "img-responsive", width: "150px", style:"margin:10px") : '' ;  %></br>
    </td>
    <td><%= t.qty %></td>
    <td>Rp <%= number_with_precision( t.total, :precision => 0, :delimiter => '.') %></td>
  </tr>
  <% end %>


  
  <tr>
    <td></td>
    <td></td>
  </tr>

</table>
<div class="text-right" style="padding: 10px">
<%= link_to "Kembali", transaction_orders_path, class:"btn btn-secondary text-right btn-checkout" %>
</div>