</br>
<h3 style="margin: 20px;">Master Produk</h3>
<%= link_to 'Tambah', new_product_path, class:"btn btn-primary", style:"margin: 20px;" %>
<table style="width: 100%;
  border: 1px solid black;margin: 20px">
  <tr>
    <th style="padding: 10px">No</th>
    <th>Nama</th>
    <th>Stok</th>
    <th>Jumlah Terjual</th>
    <th></th>
  </tr>
  <% @products.each do |t| %>
  <tr>
    <td style="padding: 10px">1</td>
    <td><%= t.name %></td>
    <td><%= t.inventory.stock %></td>
    <td><%= t.order_items_count  %></td>
    <td><%= link_to "Detail", product_path(t) %> &nbsp; 
        <%= link_to "Hapus", product_path(t), data: { "turbo-method": :delete} %> &nbsp; 
        <button type="button" class="btn btn-main btn-primary btn-stock" data-stock=<%= t.inventory.stock %> data-id=<%= t.id %>  data-bs-toggle= "modal", data-bs-target='#exampleModal'>Edit Stock</button>

        </td>

  </tr>
  <% end %>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Stok</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <input type="text" id="stock" class="form-control">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Tutup</button>
        <button type="button" class="btn btn-primary btn-save-stock">Simpan</button>
      </div>
    </div>
  </div>
</div>


  
  <tr>
    <td></td>
    <td></td>
  </tr>

</table>