</br>
<h3 style="margin: 20px;">Master Produk</h3>
<%= link_to 'Tambah', new_product_path, class:"btn btn-primary", style:"margin: 20px;" %>
<table style="width: 100%;
  border: 1px solid black;margin: 20px">
  <tr>
    <th style="padding: 10px">No</th>
    <th>Nama</th>
    <th>Stok</th>
    <th>Jumlah Terjual</th>
    <th></th>
  </tr>
  <% @products.each do |t| %>
  <tr>
    <td style="padding: 10px">1</td>
    <td><%= t.name %></td>
    <td><%= t.inventory.stock %></td>
    <td><%= t.order_items_count  %></td>
    <td><%= link_to "Detail", product_path(t) %> &nbsp; <%= link_to "Hapus", product_path(t), data: { "turbo-method": :delete} %></td>

  </tr>
  <% end %>


  
  <tr>
    <td></td>
    <td></td>
  </tr>

</table>