<div class='col-md-6 offset-md-3'>
    <h3>Detail Produk</h3>
    <br>

    <%= form_for @product, local: true, data: { turbo: false } do |f| %>
        <div class='form-group'>
            <%= @product.image ? image_tag(@product.image.url, alt: 'Image', class: "img-responsive", width: "200px") : '' ;  %></br>
        </div>
        <br/>
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Produk</button>
                <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">History</button>
            </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                    <div class='form-group'>
                        <%= f.label :name %>
                        <%= f.text_field :name, class: 'form-control', disabled: true %>
                    </div>
                    <div class='form-group'>
                        <%= f.label :kategori %>
                        <%= f.select :category_id, options_from_collection_for_select(list_categories, :id, :description, @product.category_id), {:include_blank => false},class: 'form-control' , disabled: true %>
                    </div>
                    <div class='form-group'>
                        <%= f.label :Harga %>
                        <%= f.text_field :price, class: 'form-control' , disabled: true %>
                    </div>
                    <div class='form-group'>
                        <%= f.label :Berat %>
                        <%= f.text_field :weight, class: 'form-control' , disabled: true %>
                    </div>
                    <div class='form-group'>
                        <%= f.label :Kondisi %>
                            <%= f.select :condition, options_for_select([['Baru', 'baru'], ['Bekas', 'bekas']]), {:include_blank => false}, class: 'form-control' , disabled: true %>

                    </div>
                    <%= f.fields_for @inventory do |s| %>
                    <div class='form-group'>
                        <%= s.label :Stok %>
                        <%= s.text_field :stock, class: 'form-control' , disabled: true %>
                    </div>
                    <% end %>

                    <div class='form-group'>
                        <%= f.label :Deskripsi %>
                        <%= f.text_area :description, rows:10, class: 'form-control' , disabled: true %>
                    </div>
                </div>
            
                <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                <table style="width: 100%;
                                border: 1px solid black;margin: 20px">
                                <tr>
                                    <th style="padding: 10px">Aksi</th>
                                    <th>Jumlah</th>
                                    <th>Stok Lama</th>
                                    <th>Stok Baru</th>
                                </tr>
                                <% @history.each do |t| %>
                                <tr>
                                <td><%= t.action %></td>
                                <td><%= t.qty %></td>
                                <td><%= t.old_stock %></td>
                                <td><%= t.new_stock %></td>
                                </tr>

                                <% end %>
                                
                                <tr>
                                    <td></td>
                                    <td></td>
                                </tr>

                                </table>
                </div>
            
            </div>
            <br/>        
            <div class='form-group'>
                <%= link_to 'Edit' , edit_product_path, class: 'btn btn-secondary form-control' %>

            </div>
    </div>

        
    
        <% end %>
</div>