</br>
<h3 style="margin: 20px;">Order</h3>
<table style="width: 100%;
  border: 1px solid black;margin: 20px">
  <tr>
    <th style="padding: 10px">No</th>
    <th>Tanggal</th>
    <th>Total</th>
    <th>Status</th>
    <th></th>
    <% if current_user.has_role? :vendor %>
    <th width="200px"></th>
    <% end %>
  </tr>
  <% @transaction.each do |t| %>
  <tr>
    <td style="padding: 10px">1</td>
    <td><%= t.created_at.to_date %></td>
    <td>Rp <%= number_with_precision( t.total, :precision => 0, :delimiter => '.') %></td>
    <td><%= t.check(t.status) %></td>
    <td><%= link_to "Detail", sale_path(t) %></td>

    <% if current_user.has_role? :vendor %>
    <td>
    <% if t.status == 1%>
      <%= link_to "Approve", sale_path(t, status: 2), data: { "turbo-method": :patch} %>
      <%= link_to "Reject", sale_path(t, status: 3), data: { "turbo-method": :patch} %></td>
      <% end %>
    
    <% end %>
    
  </tr>
  <% end %>


  
  <tr>
    <td></td>
    <td></td>
  </tr>

</table>