<!DOCTYPE html>
<html>
  <head>
    <title>Ecommerce</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
   </head>

  <body style="">
    
    <%= render 'layouts/navbar'%>
    <% if flash[:notice].present? %>
      <%= flash[:notice] %>
    <% end %>
      


    <%# <p class="notice"><= notice ></p> %>
    <%# <p class="alert"><= alert ></p> %>
    <%= yield %>
  </body>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
 <script>
    // alert("ini alert percobaan ")
  
    // $( ".btn-checkout" ).click(function() {
    //   alert( "Handler for .click() called." );
    // });
  
    $( ".btn-plus" ).click(function() {
        // e.preventDefault();
          
        data = $(this).data('id');
        console.log(data);
        $.ajax({
          beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
            type: 'PATCH',
            url:  "/carts/"+data,
            dataType: 'JSON'
        }).done(function (data) {
            location.reload();
        }).fail(function (data) {
            alert(data.alert);
        });
      // alert( "Button Plus sudah diklik" );
    });

    $( ".btn-order" ).click(function() {
        
      if ( <%= user_signed_in? ? current_user.balance.balance : 0 %> < $("#total").val()){
        event.preventDefault();
        alert("Saldo anda tidak mencukupi, silahkan isi ulang terlebih dahulu");
      }

    });
    var global = "Global Variable";
    $(".btn-stock").click(function () {
        var id = $(this).data('id');
        var stock = $(this).data('stock');

        $("#stock").val(stock);
        global = id;
        // console.log(text);
    });

    $(".btn-save-stock").click(function () {
        stock = $("#stock").val();
        console.log(global);
        $.ajax({
          beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
            type: 'PATCH',
            url:  "/products/update_stock/"+global,
            data: {new_stock: stock},
            dataType: 'JSON',
          success: function(data, textStatus, jqXHR,response){
                location.reload();
                
            }
        })
        .fail(function() {
          alert('Silahkan edit stok terlebih dahulu');
        })
        // console.log(text);
    });

  </script>

</html>
